@font-face {
    font-family: 'Acumin Variable Concept';
    font-weight: 1 1000;
    src: url('../fonts/Acumin-Variable-Concept.ttf')
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.banner-section {
    position: absolute;
    width: 100%;
    height: 33vh;
    background-image: url("../images/hires/about_header.jpg"), url("../images/lowres/about_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-text {
    position: absolute;
    bottom: -70px;
    left: 80px;
    font-family : 'Acumin Variable Concept';
    font-weight: 250;
    font-size: 12rem;
    letter-spacing : -1.6rem;
    color: #FFFFFF;
    transform: scaleX(1.5);
}

h1 {
    position: absolute;
    left: 55px;
    top: 350px;
    font-family : 'Acumin Variable Concept';
    font-weight: 100;
    font-size: 4rem;
    letter-spacing : -0.4rem; 
    transform: scaleX(1.1);
    color: #000000;

}

h2 {
    position: absolute;
    left: 135px;
    top: 450px;
    width: 1000px;
    font-family : 'Acumin Variable Concept';
    font-weight: 250;
    font-size: 2rem;
    letter-spacing : -0.15rem; 
    transform: scaleX(1.2);
    color: #000000;

}
p {
    position: relative;
    top: 350px;
    left: 0px;
    padding: 10px;
    padding-top: 20px;
    font-family : 'Acumin Variable Concept';
    font-weight: 350;
    font-size: 2rem;
    letter-spacing : 0rem; 
    color: #000000;

}

@media (max-width: 938px) {
    .banner-text {
        position: absolute;
        bottom: -37px;
        left: 50px;
        font-family : 'Acumin Variable Concept';
        font-weight: 250;
        font-size: 12rem;
        letter-spacing : -0.9rem;
        transform: scaleX(1.5);
        font-size: 6rem;
    }
    p {
        top: 300px;
        font-size: 1.5rem;
        letter-spacing : 0rem; 
        color: #000000;
    }
} 

@media (max-width: 638px){ 
    p {
        top: 275px;
        font-size: 1rem;
        color: #000000;
    }
}

