@font-face {
    font-family: 'Acumin Variable Concept';
    font-weight: 1 1000;
    src: url('../fonts/Acumin-Variable-Concept.ttf')
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.banner-section {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../images/hires/archive_header.jpg"), url("../images/lowres/archive_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-text {
    position: absolute;
    bottom: -70px;
    left: 100px;
    font-family : 'Acumin Variable Concept';
    font-weight: 250;
    font-size: 12rem;
    letter-spacing : -1.6rem;
    color: #FFFFFF;
    transform: scaleX(1.5);
}

h1 {
    position: relative;
    padding: 10px;
    padding-top: 20px;
    font-family : 'Acumin Variable Concept';
    font-weight: 100;
    font-size: 4rem;
    letter-spacing : -0.4rem; 
    color: #000000;

}

h2 {
    position: relative;
    padding: 10px;
    padding-top: 20px;
    font-family : 'Acumin Variable Concept';
    font-weight: 250;
    font-size: 2rem;
    letter-spacing : 0rem; 
    color: #000000;

}

@media (max-width: 938px) {
    .banner-text {
        position: absolute;
        bottom: -37px;
        left: 60px;
        font-family : 'Acumin Variable Concept';
        font-weight: 250;
        font-size: 12rem;
        letter-spacing : -0.9rem;
        transform: scaleX(1.5);
        font-size: 6rem;
    }
    h1 {
        font-family : 'Acumin Variable Concept';
        font-weight: 100;
        font-size: 4rem;
        letter-spacing : -0.4rem; 
        color: #000000;
    }
    
    h2 {
        max-width: 500px;
        font-size: 1rem;
        letter-spacing : 0rem; 
        color: #000000;
    }
} 


@media (max-width: 460px) {
    h1 {
        font-size: 3rem;
        letter-spacing : -0.3rem; 
        color: #000000;
    }

}
