@font-face {
    font-family: 'Acumin Variable Concept';
    font-weight: 1 1000;
    src: url('../fonts/Acumin-Variable-Concept.ttf')
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.banner-section {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../images/lowres/art_header.jpg"), url("../images/lowres/art_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-text {
    position: absolute;
    bottom: -70px;
    left: 150px;
    font-family : 'Acumin Variable Concept';
    font-weight: 250;
    font-size: 12rem;
    letter-spacing : -1.6rem;
    color: #FFFFFF;
    transform: scaleX(1.5);
}

h1 {
    position: relative;
    padding: 10px;
    padding-top: 20px;
    font-family : 'Acumin Variable Concept';
    font-weight: 100;
    font-size: 4rem;
    letter-spacing : -0.4rem; 
    color: #000000;
    transform: skew(-20deg);
}

.right {
    text-align: right;
    padding-right: 20px;
}

.gallery {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery .item {
    flex: 1;
    flex-basis: calc((100% - 4rem)/5);
    max-width: 400px;
    margin: 30px;
}

.gallery .item img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: border-radius 0.2s cubic-bezier(0,1.07,.21,.96);
}

.gallery .item img:hover {
    border-radius: 5%;
}

.modal {
    z-index: 10;
    position: fixed;
    overflow: hidden;
    font-family: "Acumin Variable Concept";
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.50);
}
.modal .img-holder {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6em 0;
}

.modal .img img {
    width: 100%;
    height: 100%;
    max-height: 800px;
}

.modal-item {
    padding: 20px;
    color: white;
}

.modal-item h2 {
    font-weight: 600;
    font-size: 32px;
    letter-spacing : -1.6px;
    color: #FFFFFF;    
}

.close-btn p {
    cursor: pointer;
}

@media (orientation: portrait){
    .modal .img-holder {
        padding: 0 0 0 0;
        left: 50%;
        top: 50%;
        align-items: center;
        flex-direction: column;
        transform: translate(-50%, -50%);
    }

}
@media (max-width: 938px) {
    .banner-text {
        position: absolute;
        bottom: -37px;
        left: 80px;
        font-family : 'Acumin Variable Concept';
        font-weight: 250;
        font-size: 12rem;
        letter-spacing : -0.9rem;
        transform: scaleX(1.5);
        font-size: 6rem;
    }
   
    .gallery {
        padding-left: 25px;
        padding-right: 25px;
    }

    .gallery .item {
        max-width: 250px;
        flex-basis: calc((100% - 3rem)/4);
        margin: 10px;
    }

    .modal {
        max-height: 100%;
    }
    .modal .img img {
        width: 300px;
    }
    .modal-item h2 {
        font-weight: 600;
        font-size: 16px;
        letter-spacing : -1.6px;
        color: #FFFFFF;    
    }
} 

@media (max-width: 500px) {
    .banner-text {
        position: absolute;
        bottom: -26px;
        left: 50px;
        font-family : 'Acumin Variable Concept';
        font-weight: 250;
        letter-spacing : -0.5rem;
        transform: scaleX(1.5);
        font-size: 4rem;
    }
    
    .gallery {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .gallery .item {
        max-width: 250px;
        flex-basis: calc((100% - 2rem)/3);
        margin: 10px;
    }
} 

@media (max-width: 400px) {
    .gallery .item {
        max-width: 150px;
    }

}
