@font-face {
    font-family: 'terminal grotesque open';
    font-weight: 100 400;
    src: url('../fonts/terminal-grotesque_open.otf')
}

@font-face {
    font-family: 'terminal grotesque closed';
    font-weight: 100 400;
    src: url('../fonts/terminal-grotesque.ttf')
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.bg {
    width: 100%;
    height: 2500px;
    background-image: url("../imgs/village.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.recent-posts {
    position: absolute;
    top: 4rem;
    left: 4rem;
    color: white;
    font-family: 'terminal grotesque open';
    font-size: 3rem;
}

.recent-posts li {
    list-style: none;
}

.recent-posts li a {
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.recent-posts li a:hover {
    font-family: 'terminal grotesque closed';
    color: white;
    text-decoration: none;
}

.bg-img {
    top: 10%;
    width: 100%;
    height: 2000px;
    position: absolute;
}

.navbar {
    font-family: 'terminal grotesque open';
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.title {
    padding: 1rem;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: center;
}

.title a {
    text-decoration: none;
    color: white;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.navbar-links li .blog:hover {
    font-family: 'terminal grotesque closed';
    background-image: url("../imgs/stroke1.svg");
    background-clip: padding-box;
    background-size: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-links li .art:hover {
    font-family: 'terminal grotesque closed';
    background-image: url("../imgs/stroke2.svg");
    background-clip: padding-box;
    background-size: 5rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-links li .about:hover {
    font-family: 'terminal grotesque closed';
    background-image: url("../imgs/stroke3.svg");
    background-clip: padding-box;
    background-size: 7rem;
    background-position: center center;
    background-repeat: no-repeat;
}
