@font-face {
    font-family: 'Acumin Variable Concept';
    font-weight: 1 1000;
    src: url('../fonts/Acumin-Variable-Concept.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar img{
    max-width: 50px;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    font-family : Acumin Variable Concept;
    font-weight: 550;
    font-size : 30px;
    letter-spacing : -0.61px;
    color: #FFFFFF;

    width: 500px;
    height: 48px;
    background-color: #ffffff;
    border-bottom-right-radius: 25px;
    z-index: 100;
}
.navbar-links .art-link {
    color: #3535FF;
}

.navbar-links .archive-link {
    text-decoration: none;
    color: #E9004F;
}

.navbar-links .about-link {
    text-decoration: none;
    color: #FFDD1D;
}

.navbar-links .blog-link {
    text-decoration: none;
    color: #00BF35;
}

.navbar-links ul {
    position: absolute;
    top: 5px;
    display: flex; 
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: #000000;
}
