@font-face {
    font-family: 'Terminal Grotesque Open';
    font-weight: 1 1000;
    src: url("../fonts/terminal-grotesque_open.otf");
}

@font-face {
    font-family: 'Terminal Grotesque';
    font-weight: 1 1000;
    src: url("../fonts/terminal-grotesque.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 1.5rem;
    background-image: url("../resources/dogdrawing.svg");
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 15px;
}

.navbar {
    font-family: 'Terminal Grotesque Open';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
}

.navbar-links li .blog-link:hover {
    background-image: url("../resources/stroke1.svg");
    background-clip: padding-box;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-links li .art-link:hover {
    background-image: url("../resources/stroke2.svg");
    background-clip: padding-box;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-links li .about-link:hover {
    background-image: url("../resources/stroke3.svg");
    background-clip: padding-box;
    background-size: 3rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-links li .archive-link:hover {
    background-image: url("../resources/stroke1.svg");
    background-clip: padding-box;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
}
