
@font-face {
    font-family: 'terminal grotesque';
    font-style: normal;
    src: url('../fonts/terminal-grotesque.ttf')
}

@font-face {
    font-family: 'terminal grotesque open';
    font-weight: 100 400;
    src: url('../fonts/terminal-grotesque_open.otf')
}

@font-face {
    font-family: 'texgyreheroscn';
    font-weight: 100 400;
    src: url('../fonts/texgyreheroscn-regular.otf')
}

@font-face {
    font-family: 'terminal grotesque open';
    font-weight: 100 400;
    src: url('../fonts/terminal-grotesque_open.otf')
}

.banner-area {
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 600px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url(../imgs/village.png);
    background-size: cover;
    background-position: center center;
}

.dog {
    position: fixed;
    padding-top: 5px;
    padding-left: 250px;
    width: 400px;
    height: 400px;
}

.banner-area h2 {
    font-family: 'terminal grotesque open';
    font-weight: 100;
    font-size: 100px;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-left: 50px;
    position: fixed;
}

.recent-posts {
    font-family: 'texgyreheroscn';
    font-weight: 100;
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.recent-posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.recent-posts ul a {
    color: white;
    text-decoration: none;
}

.recent-posts ul a:hover {
    color: white; 
    text-decoration: line-through;
}

.banner-area nav {
    font-family: 'terminal grotesque open';
    font-size: 50px;
    font-weight: 100;
    color: white;
    position: absolute;
    position: absolute;
    bottom: 55%;
    right: 10%;
}

.banner-area nav a {
    font-family: 'terminal grotesque open';
    font-size: 50px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white; 
    text-decoration: line-through;
}
