@font-face {
    font-family: 'terminal grotesque open';
    font-weight: 100 400;
    src: url('../fonts/terminal-grotesque_open.otf')
}

@font-face {
    font-family: 'texgyreheroscn';
    font-weight: 100 400;
    src: url('../fonts/texgyreheroscn-regular.otf')
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'terminal grotesque open';
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: url("../imgs/village.png");
    background-position: center;
    background-size: cover;
}

.title {
    padding: 1rem;
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
    background-image: url("../imgs/dogdrawing.svg");
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 1rem;
}

.navbar-links li .blog:hover {
    background-image: url("../imgs/stroke1.svg");
    background-clip: padding-box;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-links li .art:hover {
    background-image: url("../imgs/stroke2.svg");
    background-clip: padding-box;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-links li .about:hover {
    background-image: url("../imgs/stroke3.svg");
    background-clip: padding-box;
    background-size: 3rem;
    background-position: center center;
    background-repeat: no-repeat;
}
